<div class="message-container <%= 'right' if current_user.id == message.user_id %>" id="message-<%= message.id %>">
  <div class="bubble">
    <%= message.content %>
  </div>
  <div class="chat-details">
    <small><%= message.created_at.strftime("%a, %H:%M") %></small> <!-- ("%l:%M %p  |  %b %e") -->
  </div>
</div>
