<div class="show-card">
  <h5 class="my-4 recommendation-container">
    My recommendations
  </h5>
    <% unless @user.recommendations.empty? %>
      <% @user.recommendations.each do |recommendation| %>
        <div class="row justify-content-center recommendation-card">
          <div class="col col-xs-6 col-sm-6 col-md-6">
          <div class="recommendation-name">
            <%= recommendation.name %>
          </div>
          </div>
          <div class="col col-xs-6 col-sm-6 col-md-6">
            <%= recommendation.pricing %>
          </div>
        </div>
        <%= link_to recommendation_path(recommendation), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-remove-recommendation' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    <% else %>
      <p>You haven't added any recommendations yet!<p>
    <% end %>
</div>

<div class="show-buttons">
  <%= link_to "Add recommendations", new_recommendation_path, class:'profile-interest-btn' %>
</div>
