// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #9cada4;
$green2: #A4C097;
$gray: #0E0000;
$light-gray: #F4F4F4;
$peach-gradient: linear-gradient(0deg, rgba(250,219,188,1) 0%, rgba(247,193,168,1) 100%);
$peach: #F5B292;
$lightpeach: #F7C9B4;
