// Specific CSS for your home-page
.wrapper {
  height: 100vh;
  background:$peach-gradient;
  color:white;
}

.wrapper-text {
  text-align: center;
  padding-top:30px;
}

.signup-button {
  text-decoration: none;
  color: white;
  font-size: 14px;
  box-shadow: 2px;

 &:hover {
    color: #9EB4D3;
    text-decoration: none;
  }
}

#text-highlighted {
  background-color: #d8ae99;
  color: white;
  padding: 0px 4px;
  margin-right: 4px;
  border-radius: 2px;
}

.home-title {
  color: black;
  font-size: 24px;
  padding: 0 10px;
}

#text-2 {
  color: black;
}

.desc {
  color: white;
  text-shadow: 2px 2px 8px black;
}

.desc1 {
  color: white;
  text-shadow: 2px 2px 8px black;
}

.desc2 {
  color: white;
  text-shadow: 2px 2px 8px black;
}

.wrapper-sign {
  background:$peach-gradient;
  padding:20px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display:flex;
  align-items: center;
}

.logo-title {
  margin:0;
}
