.text {
 color:  #989795;
}

.search {
    width: 70% !important;
    border-radius: 50px !important;
    border-style: none !important;
}

#green-btn {
  background-color: #A4C097;
  width: 60%;
  color: white;
  text-decoration: none;
  border-color: #A4C097;
  border-style: none;
  padding: 2px;
  border-radius: 4px;
}

#btn-adv {
  background-color: #F5B292;;
  width: 60%;
  color: white;
  border-color: #F5B292;
  text-decoration: none;
  border-style: none;
  padding: 4px;
  border-radius: 4px;
}
