.search-wrapper {
  height: 100vh;
  background: #FDF7F3;
  padding-bottom: 20px;
  padding-top: 70px;
}

.text {
 color:  #717171;
}

.search {
    width: 70% !important;
    border-radius: 50px !important;
    border-style: none !important;
}

#green-btn {
  background-color: #A4C097;
  width: 60%;
  color: white;
  text-decoration: none;
  border-color: #A4C097;
  border-style: none;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
}

#btn-adv {
  background-color: #F5B292;;
  width: 60%;
  color: white;
  border-color: #F5B292;
  text-decoration: none;
  border-style: none;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
}

.formatted-text {
  color: black;
}
