.text {
 color:  #989795;
}

.search {
    width: 60% !important;
}

#green-btn {
  background-color: #A4C097;
  width: 40%;
  color: white;
  text-decoration: none;
  border-color: #A4C097;
}

#btn-adv {
  background-color: #F5B292;;
  width: 40%;
  color: white;
  border-color: #F5B292;
}
