<div class="show-card">
    <% if @user.languages %>
      <% if @user.languages.reject {|language| language == ""} %>
        <% if @user.languages.reject {|language| language == ""}.length == 1 %>
          <%= @user.languages.reject {|language| language == ""}.last %>
        <% else %>
        <% @user.languages.reject {|language| language == ""}.each_with_index do |language, index| %>
          <% if index < @user.languages.reject {|language| language == ""}.length - 1 %>
            <%= language %>
          <% else %>  &
            <%= language %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="show-card">
  <h5 class="my-4 profile-subtitle">Interests</h5>
    <% unless @user.interests.empty? %>
      <% @user.interests.each do |interest| %>
        <div class="active-tag"><%= interest.name %></div>
      <% end %>
    <% else %>
      <p>You haven't added any interests yet!<p>
    <% end %>
</div>
