<div class="interests-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-4">
        <div class="form-interests">
          <% @categories.each do |category| %>
            <h4>
              <% if category.name == "Sports" %>
                <i class="fas fa-futbol"></i>
              <% elsif category.name == "Food" %>
                <i class="fas fa-hamburger"></i>
              <% end %>
              <%= category.name %>
            <h4>
            <% category.interests.each do |interest| %>
              <% if @user.interests.include?(interest) %>
                <div class="active-tag"><%= link_to interest.name, user_interest_path(interest), class: "interest-link", method: :delete %></div>
              <% else %>
                <div class="interest-tag"><%= link_to interest.name, user_interests_path(interest: interest.id), class: "interest-link", method: :post %></div>
              <% end %>
            <% end %>
          <% end %>
          <div class="interests-btn"><%= link_to "Save interests", profile_path(current_user.id), class:'interests-green-btn' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
