<div class="container">
  <% @categories.each do |category| %>
    <p><%= category.name %></p>
  <% category.interests.each do |interest| %>
      <% if @user.interests.include?(interest) %>
    <div class="active-tag"><%= link_to interest.name, user_interest_path(interest), class: "interest-link", method: :delete %></div>
    <% else %>
      <div class="interest-tag"><%= link_to interest.name, user_interests_path(interest: interest.id), class: "interest-link", method: :post %></div>
    <% end %>
  <% end %>
  <% end %>
</div>
