<!-- <div>
  <%# @interests.each do |interest| %>
   <p><%#= link_to interest.name, user_interests_path(interest: interest.id), method: :post %></p>
  <%# end %>
</div> -->

<div>
  <% @categories.each do |category| %>
    <p><%= category.name %></p>
  <% category.interests.each do |interest| %>
    <div class="interest-tag"><%= link_to interest.name, user_interests_path(interest: interest.id), class: "interest-link", method: :post %></div>
  <% end %>
  <% end %>
</div>

<% @user.interests.each do |interest| %>
<%= interest.name %>
<% end %>
<%#= current_user.interest_ids.include?(interest.id) ? 'active-tag' : '' %>">
