<div class= "wrapper">
  <div class="wrapper-text">
<div class="logo">
  <%= image_tag "logo-white.png", width:'100px' %><h1>locally.</h1>
  <img>
</div>

<h2 class="home-title">COMING SOON</h2>
</div>
</div>
