.bookmarks-container {
  text-align:center;
}

.bookmark-card {
  height: fit-content;
  margin: 20px 24px;
  background-color: rgba(240, 240, 240, 0.4);
  border-radius: 16px;
  text-align: center;
  padding-bottom: 8px;
  box-shadow: 2px 2px 4px rgba(230, 230, 230, 0.5);
  object-fit: cover;
  position: relative;
}

@media (min-width: 768px) {
  .bookmark-cards {
    display:flex;
    justify-content: space-around;
  }

  .bookmark-card {
    width: 40%;
  }
}

