.chat-wrapper {
  background: #fff;
  width: 100%;
  height: 100vh;
}

.chat-header {
  background-color: $light-gray;
  padding: 10px;
}

#messages {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  background-color: #fff;
}

.message {
  margin: 0 10px;
  margin-top: 10px;
  padding: 10px;
  width: 65%;
}

.message-user {
  background-color: $light-gray;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.message-right {
  background-color: $peach;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 0px;
}

.chat-details {
  text-align: right;
  font-size: 12px;
}

.chat-input {
  margin-bottom: 75px;
  margin-left: 10px;
  margin-right: 10px;
}

.chat-btn {
  color: #fff;
  background: $peach;
  border: none;
  border-radius: 5px;
}

.chat-icon {
  font-size: 20px;
  color: #fff;
}

.chat-header-text {
  color: rgb(118, 132, 124);
  font-size: 16px;
  border:rgb(118, 132, 124) 1px solid;
  padding: 6px 12px;
  border-radius: 15px;
}

.chat-header-text:hover {
  text-decoration: none;
  color: rgb(118, 132, 124);
}
