.meetups-form-wrapper {
  height: 100vh;
  background-color: $peach;
}

.meetup-card {
  background-color: $lightpeach;
  margin: 30px 0;
  padding:10px;
  padding-bottom:30px;
}

.meetup-card-title {
  color: #fff;
  text-align: center;
  margin: 10px 0;
}

.form-meetups {
  background:white;
  padding:10px 20px;
  margin: 50px 0;
  border-radius: 18px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.title-meetup {
  color:#fff;
  margin-top:30px;
  text-align:center;
}

/* meetups index */
.card-meetups {
  padding:10px;
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  margin-top:20px;
  border-radius: 5px;
  position: relative;
}

.card-meetups img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.delete-btn-meetup {
  position:absolute;
  bottom: 0;
  right:2px;
  color: $green;
  font-size:10px;
}
.card-meetup-text {
  display:flex;
  justify-content:center;
  flex-direction:column;
}

.card-meetup-text p {
  font-size:16px;
  padding:0 5px;
  margin:0;
}

.meetup-name {
  font-weight: bolder;
}
