.navbar-lewagon {
  justify-content: space-between;
  background: #fff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-link {
  font-size: 20px;
  color: darkgrey;
  padding: 8px;
}

.navbar-link:hover,
.nav-active {
  background-color: #fadbbc;
  border-radius: 50%;
}

.login-link-navbar{
  font-size: 18px;
  color: darkgrey;
  margin-right: 15px;
}

.login-link-navbar:hover{
  color: darkgrey;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
  background-color: #fff;
}

a {
  .style-notif {
    color: white;
  }
}

.style-notif {
  background-color: #ff0000;
  top: 5px;
  right: 5px;
  padding: 1px 4px;
  border-radius: 90%;
  font-size: 6px;
  position: absolute;
  text-decoration: none;
}
