.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-size: 20px;
  color: darkgrey;
}

.nav-link:hover {
  color: $peach;
}

.navbar {
  display:flex;
  justify-content:space-between;
  list-style: none;
  margin-bottom: 0;
}

.navbar-bg {
  height: 100%;
  background-color:white;
}

.nav-active {
  padding:8px;
  border-radius: 50%;
  background-color:#fadbbc;
}
