.notice {
  position: fixed;
  top: 72px;
  z-index: 1000;
  // background-color: rgba(156, 173, 164, 0.9);
  background: rgb(156, 173, 164);
  color: #fff;
  padding: 8px 24px;
  margin: 0 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(180, 180, 180, 0.5);
  text-align: center;

  .button.close {
    margin-left: 16px;
  }
}
