.show-profile-wrapper {
  height:100%;
  background:$peach-gradient;
}

.form-show-profile {
  background:white;
  padding:10px 20px;
  margin: 50px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 22px;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom:30px;
    text-align:center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.profile-green-btn {
  background-color: #A4C097;
  color: white;
  text-decoration: none;
  border-style: none;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.5s;
}

.profile-green-btn:hover,
.profile-green-btn:focus {
  color:white;
  text-decoration:none;
}

.profile-interest-btn {
  background-color: white;
  color: #A4C097;
  text-decoration: none;
  border: 1px solid #A4C097;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.5s;
}

.profile-interest-btn:hover,
.profile-interest-btn:focus {
  color:white;
  background-color: #A4C097;
  text-decoration:none;
}

.show-buttons {
  text-align: center;
  margin: 20px 0;
}

.profile-header {
  text-align:center;
  margin-bottom:40px;
}

.tab-wrapper {
  background-color: $light-gray;
  padding:10px;
  margin-bottom:15px;
}

.nav-tabs {
  .nav-link {
    background-color: #fff;
    // border: none;
    border: 1px solid $light-gray;
    color: #000;
  }
  .nav-link.active {
    background-color: $light-gray;
  }
}

.show-card {
  background-color: #fff;
  margin: 30px 0;
  padding:10px;
  padding-bottom:30px;
}

.recommendation-card {
  margin: 8px auto;
  border: 1px solid rgb(230, 230, 230);
  width: 95%;
  padding: 16px 16px;
  border-radius: 8px;
}

.recommendation-container {
  text-align: center;
}

.fas.fa-trash {
  margin-bottom: 46px;
  margin-left: 12px;
  font-size: 14px;
  color: rgba(164, 192, 151, 1);

  &:hover {
    color: rgba(164, 192, 151, 0.6);
  }
}

#recommendation-name {
  margin-bottom: 8px;
}

#recommendation-description {
  font-size: 14px;
}
